body, html {
    height: 100%;
}

.background-logo {
    /* The image used */
    background-image: url("/antifa.svg");
    z-index: 0;

    position: fixed;
    top: 0;
    /* Full height */
    height: 100%;
    width: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    opacity: 0.075;
}

main {
    z-index: 50;
}

.btn-fill {
    height: 100%;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 12px;
    border-radius: 5px;  
    background: rgba(255, 255, 255, 0.3);
    outline: none;
    opacity: 1.0;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 17px;
    height: 17px;
    border-radius: 50%; 
    background:var(--primary);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background:var(--primary);
    cursor: pointer;
}